In [15]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [16]:
!pip install cfscrape

Requirement already satisfied: cfscrape in c:\users\shridam\anaconda3\lib\site-packages (2.0.8)
Requirement already satisfied: requests>=2.6.1 in c:\users\shridam\anaconda3\lib\site-packages (from cfscrape) (2.22.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shridam\anaconda3\lib\site-packages (from requests>=2.6.1->cfscrape) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\shridam\anaconda3\lib\site-packages (from requests>=2.6.1->cfscrape) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\shridam\anaconda3\lib\site-packages (from requests>=2.6.1->cfscrape) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\shridam\anaconda3\lib\site-packages (from requests>=2.6.1->cfscrape) (2.8)

In [17]:
import cfscrape
scraper =cfscrape.create_scraper()

In [18]:
#delhi to mumbai
#flights = ['6E171','6E5335','6E993','6E167','6E179','6E181','6E5339','6E223','6E957','6E189','6E755','6E191','6E129','6E843','6E197','6E185','6E665','6E155','I5314','I5716','I5332','I5482','AI349','AI887','AI665','AI678','AI865','AI315','AI317','AI636','AI102','AI441','AI24','AI624','AI805','AI191','AI863','G82501','G8338','G8530','G8334','G8336','G8640','G8446','G8429','G8544','SG8287','SG8153','SG8701','SG8723','SG8911','SG8161','SG8709','SG8169','SG8715','SG8159','UK975','UK923','UK943','UK963','UK927','UK995','UK945','UK993','UK941','UK955','UK977','UK985','UK953','UK981','UK967']

In [19]:
#bangalore to delhi
#flights = ['6E2625','6E2135','6E2562','6E2132','6E2228','6E5032','6E5022','6E2032','6E2988','6E2783','6E2808','6E2716','6E2305','6E2289','6E2484','I52878','I5737','I5741','I5722','AI804','AI505','AI501','AI503','AI87','AI173','AI802','G8116','G8117','G8120','G8118','SG8906','SG136','SG192','SG198','SG8720','UK110','UK812','UK816','UK820','UK814','UK818']

In [20]:
#delhi_to_bangalore
flights = ['6E2376','6E2624','6E2134','6E5031','6E2458','6E2031','6E2563','6E2297','6E2465','6E2839','6E5011','6E2637','6E5021','6E2131','6E2273','6E2977','I5738','I5740','I52879','I5721','G8113','G8112','G8124','G8557','SG8719','SG8905','SG143','SG197','SG8717','SG191','UK811','UK815','UK819','UK817','UK813','UK807','AI803','AI506','AI502','AI174','AI801','AI504']

In [21]:
len(flights)

42

In [22]:
#flights = '6E171','6E5335','6E993','6E167','6E179','6E181','6E5339','6E223','6E957','6E189','6E755','6E191','6E129','6E843','6E197']
#flights = ['6E185','6E665','6E155','I5314','I5716','I5332','I5482','AI349','AI887','AI665','AI678','AI865','AI315','AI317','AI636','AI102','AI441','AI24','AI624','AI805','AI191','AI863','G82501','G8338','G8530','G8334','G8336','G8640','G8446','G8429','G8544','SG8287','SG8153','SG8701','SG8723','SG8911','SG8161','SG8709','SG8169','SG8715','SG8159','UK975','UK923','UK943','UK963','UK927','UK995','UK945','UK993','UK941','UK955','UK977','UK985','UK953','UK981','UK967']
table =[]
for mm in range(11,13):
    for dd in range(1,32):
        for flight in flights:
            if dd in range(1,10):
              url = "https://airportinfo.live/flight/"+flight+"?d=2019-"+str(mm)+"-0"+str(dd)
            else:
              url = "https://airportinfo.live/flight/"+flight+"?d=2019-"+str(mm)+"-"+str(dd)
            req = scraper.get(url)
            webp = req.text
            soup = BeautifulSoup(webp, 'html.parser')
            airline =(soup.find("span", "bold flightAirline")).text
            flight_number =(soup.find("span", "flightNumber")).text
            #duration =(soup.find("span", "duration bold ")).text
            distance =(soup.find("span", "duration_distance")).text
            distance = distance.split()[3] 
            from_city =(soup.find("span", "bold from_city")).text
            to_city =(soup.find("span", "bold to_city")).text
            times = soup.findAll("div","important_time")
            times_text = [t.text for t in times]
            date = url[-10:]
            new_date = date.split('-')
            year = new_date[0][-4:]
            month = new_date[1]
            day = new_date[2]
            row = []
            row.append(airline)
            row.append(flight_number)
            row.append(from_city)
            row.append(to_city)
            row.append(distance)
            #row.append(duration)
            row.append(day)
            row.append(month)
            row.append(year)
            row = row + times_text
            table.append(row)

In [23]:
print(len(flights))

42

In [25]:
    for dd in range(1,32):
        for flight in flights: 
            if dd in range(1,10):
              url = "https://airportinfo.live/flight/"+flight+"?d=2019-"+str(mm)+"-0"+str(dd)
            else:
              url = "https://airportinfo.live/flight/"+flight+"?d=2019-"+str(mm)+"-"+str(dd)
            req = scraper.get(url)
            webp = req.text
            soup = BeautifulSoup(webp, 'html.parser')
            airline =(soup.find("span", "bold flightAirline")).text
            flight_number =(soup.find("span", "flightNumber")).text
            #duration =(soup.find("span", "duration bold ")).text
            distance =(soup.find("span", "duration_distance")).text
            distance = distance.split()[3] 
            from_city =(soup.find("span", "bold from_city")).text
            to_city =(soup.find("span", "bold to_city")).text
            times = soup.findAll("div","important_time")
            times_text = [t.text for t in times]
            date = url[-10:]
            new_date = date.split('-')
            year = new_date[0][-4:]
            month = new_date[1]
            day = new_date[2]
            row = []
            row.append(airline)
            row.append(flight_number)
            row.append(from_city)
            row.append(to_city)
            row.append(distance)
            #row.append(duration)
            row.append(day)
            row.append(month)
            row.append(year)
            row = row + times_text
            table.append(row)

In [27]:
tab_arr = np.array(table)

In [28]:
data = pd.DataFrame(tab_arr, columns = ['Airline','Flight Number','Origin Airport','Destination Airport','Distance(Km)','DD','MM','YY','Scheduled Departure','Scheduled Arrival','Actual Departure','Actual Arrival'])

In [29]:
data

,Airline,Flight Number,Origin Airport,Destination Airport,Distance(Km),DD,MM,YY,Scheduled Departure,Scheduled Arrival,Actual Departure,Actual Arrival
0,6E,2376,New Delhi,Bangalore,1736,01,11,2019,0:05,2:55,0:12,2:40
1,6E,2624,New Delhi,Bangalore,1736,01,11,2019,2:00,4:50,2:17,4:42
2,6E,2134,New Delhi,Bangalore,1736,01,11,2019,3:05,5:55,3:11,5:39
3,6E,5031,New Delhi,Bangalore,1736,01,11,2019,5:05,7:55,5:05,7:55
4,6E,2458,New Delhi,Bangalore,1736,01,11,2019,6:10,9:10,6:25,8:53
...,...,...,...,...,...,...,...,...,...,...,...,...
4380,AI,506,New Delhi,Bangalore,1736,31,12,2019,9:30,12:05,9:27,11:53
4381,AI,502,New Delhi,Bangalore,1736,31,12,2019,13:30,16:15,13:30,16:00
4382,AI,174,New Delhi,Bangalore,1736,31,12,2019,17:45,20:25,17:54,20:39
4383,AI,801,New Delhi,Bangalore,1736,31,12,2019,19:25,21:55,19:31,22:16
4384,AI,504,New Delhi,Bangalore,1736,31,12,2019,20:30,23:15,20:51,23:33

In [30]:
data.to_csv("delhi_to_bangalore_3_mnths.csv")